.dishes{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }
.dishes-wrap{
  overflow: hidden;
  display: flex;
  padding-bottom: 15px;
}
.dishes-show{
  margin-top: 20px;
  flex-grow: 1;
  display: flex;
}
.dishes-dishId-show{
  width: 80%;
  background-color: #fff;
  margin: auto;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3)
}
.dishes-dishId-show img{
  width: 100%;
  height: 200px;
}
.dishes-dishId-comment{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dishes-dishId-comment div{
  margin-top: 30px;
}
.dishes-dishId-name{
  color:#F77062;
  font-size: 20px;
}
.dishes-dishId-price{
  color: #878787;
}
.dishes-dishId-comment-show{
  font-size: 18px;
  color: #878787;
  text-align: center;
  padding-bottom: 20px;
}
.dishes-btn-wrap{
  width: 100px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}
.dishes-btn{
  width:18px;
  height: 18px;
  border-radius: 9px;
}
